
    <div class="feedbar">

        <div class="feedbar_text">
          <hr1>Hey there<hr1>
          <p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis. Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. Suspendisse sagittis ante a urna. Morbi a est quis orci consequat rutrum. Nullam egestas feugiat felis. Integer adipiscing semper ligula. Nunc molestie, nisl sit amet cursus convallis, sapien lectus pretium metus, vitae pretium enim wisi id lectus. Donec vestibulum. Etiam vel nibh. Nulla facilisi. Mauris pharetra. Donec augue. Fusce ultrices, neque id dignissim ultrices, tellus mauris dictum elit, vel lacinia enim metus eu nunc.</p>
          <video class="feedbar_video" src="{% static '/portfolio/img/additional_images/acl/breakdown/flyby.mp4' %}" controls type="video/mp4"></video>
        </div>
  
  
      </div>
  
      <div class="feedbar_BG">
      </div>
  
  
  
  
    
      <style>
  
          .feedbar_video{
            position: fixed;
            width: 480px;
            height: auto;
            padding: 10px;
            margin-left: 10%;
  
          }
  
          .feedbar_text{
            margin-top: 60px;
            color: white;
            width: 90%;
            height: 100%;
            margin-left: 50px;
            position: relative;
            overflow: auto;
          }
  
          .feedbar_BG{
          position: fixed;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0);
          width: 100%;
          height: 100%;
          float: right;
          backdrop-filter: blur(8px);
        }
  
        .feedbar{
          margin-top: -60px;
          position: fixed;
          margin-left: 25%;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0.4);
          width: 50%;
          height: 110%;
          float: right;
          backdrop-filter: blur(5px);
          filter: grayscale(70%);
          border: 1px solid rgba(255, 255, 255, 0.301);
        }
      </style>