{% extends "base.html" %}
{% load static %}

{% block page_content %}

<!-- <div class="splash">
  <img class="fade-in" src="{% static 'images/icons/pxl2.gif' %}"></img>
</div> -->


<section style="position: fixed; z-index: -2">


<div style="position: fixed; z-index: -1;">
    <video class="video_background" loop muted playsinline style="margin: -70px 0px; width: 100%; height: auto;">
      <source src="{% static 'images/icons/banner_clean.mp4' %}" type="video/mp4">
    </video>
</div>

<div>
  <h1 class="hello_bio">HI im Louis!</h1>
</div>

</section>



{% endblock %}





