{% extends "base.html" %}
{% load static %}

{% block page_content %}






<div class="temp_page">


    <img src="{% static 'images/icons/pixl_play_FR_01.svg' %}" class="profile_pic"></img>

    <div class="temp_message">
        <p>This page is still under construction =)</p>
        <a href="https://www.linkedin.com/in/louisrossouw636/" target="_blank">But check out my linkedln for my work history.</a></p>
    </div>

</div>





<style>

    .temp_message{
        font-family: 'Source Code Pro', monospace;
        color: white;
        text-align: center;
        font-size: 40px;
    }

    .temp_message a{
        color: rgb(99, 252, 252);
    }
    .temp_message a:hover{
        color: rgb(255, 255, 255);
        font-weight: bolder;
        transform: scale(1.5);
    }

    .temp_page{
        z-index: -1;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 768px) {
        .temp_message{
            font-size: 15px;
        }
        .temp_message a{
            font-size: 12px;
        }

    }



</style>

<!-- Script to animate the flav icon for fun. -->
<script>
  function profileAnimate() {
      setTimeout(function(){document.querySelector('.profile_pic').src="{% static 'images/icons/pixl_play_FR_01.svg' %}"}, 450);
      setTimeout(function(){document.querySelector('.profile_pic').src="{% static 'images/icons/pixl_play_FR_02.svg' %}"}, 900);}

  setInterval(function(){profileAnimate();}, 1000);
</script>


{% endblock %}