{% extends "base.html" %}

{% load static %}
{% load honeypot %}

{% block title %}LouisRossouw - Contact {% endblock %}

{% block page_content %}






<div class="contact_container">

    <div class="contact_items">

        <img id="contact_img_01" src="{% static 'images/icons/pixl_play_FR_01.svg' %}" width="150" height="150"></img>
        <img id="contact_img_02" src="{% static 'images/icons/pixl_play_FR_02.svg' %}" width="150" height="150" style="display: none;"></img>


        <h3 class="contact_title_01">Got a question?</h3>
        <h1 class="contact_title_02">GET IN TOUCH WITH ME</h1>


        {% if submitted %}
        <p class="success">
            Your message was submitted successfully. Thank you.
        </p>


    {% else %}
        <form action="" method="post" novalidate>
        <table>
            {{ form.as_p }}
            
            <tr>
                <td>&nbsp;</td>
                <td><input class="contact_submit" type="submit" value="Submit"></td>
            </tr>

        </table>
        {% render_honeypot_field "email" %}
        {% csrf_token %}
        </form>

    {% endif %}
    </div>


    </div>

</div>


<div id='glow_effect' style="z-index: -1000;">
    <div class='row_glow'>
      <div class='glow'>.</div>
    </div>
  </div>



<script>
    
function profileAnimate() {

    setTimeout(function(){document.getElementById("contact_img_01").style.display = "none"}, 450);
    setTimeout(function(){document.getElementById("contact_img_02").style.display = "block"}, 450);

    setTimeout(function(){document.getElementById("contact_img_01").style.display = "block"}, 900);
    setTimeout(function(){document.getElementById("contact_img_02").style.display = "none"}, 900);

}

setInterval(function(){profileAnimate();}, 1000);

</script> 




{% endblock page_content %}



