{% extends "base.html" %}

{% load static %}
{% load honeypot %}

{% block title %}LouisRossouw - Contact {% endblock %}

{% block page_content %}


<div class="contact_div">
    <div  class="contact_center">

    <div class="logo_icons">
        <img src="{% static 'images/icons/pixl_play_FR_01.svg' %}" class="profile_pic_02"></img>
    
        <!-- Script to animate the flav icon for fun. -->
        <script>
        function profileAnimate() {
            setTimeout(function(){document.querySelector('.profile_pic_02').src="{% static 'images/icons/pixl_play_FR_01.svg' %}"}, 450);
            setTimeout(function(){document.querySelector('.profile_pic_02').src="{% static 'images/icons/pixl_play_FR_02.svg' %}"}, 900);}
    
        setInterval(function(){profileAnimate();}, 1000);
        </script>




    <h3 class="contact_title_01">Got a question?</h3>
    <h1 class="contact_title_02">GET IN TOUCH WITH ME</h1>

    {% if submitted %}
        <p class="success">
            Your message was submitted successfully. Thank you.
        </p>


    {% else %}
        <form action="" method="post" novalidate>
        <table>
            {{ form.as_p }}
            
            <tr>
                <td>&nbsp;</td>
                <td><input class="contact_submit" type="submit" value="Submit"></td>
            </tr>

        </table>
        {% render_honeypot_field "email" %}
        {% csrf_token %}
        </form>

    {% endif %}
    </div>

</div>




{% endblock page_content %}