@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

* {
    box-sizing:border-box;
}


html{
    background-color: rgba(0, 0, 0, 0);
    z-index: -2;
    overflow-y: scroll;
    scrollbar-color: rgb(29, 29, 29) rgb(0, 0, 0);
    padding-bottom: 500px;
}

/* Chrome, Safari */
html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
html::-webkit-scrollbar-track-piece  {
    background-color: #000000;
}
html::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #001b1b;
}


#logoplay{
    animation: rotation 30s linear infinite;
    transform-origin: 50% 55%;
}
@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}




#playbutton{
    color:#00f2f2;
}

.resume_text{
    display: none;
    color: rgb(174, 255, 255);
}

.resume_text:hover{
    color: rgb(0, 255, 255);
    font-weight: bolder;
}



.showreel_button{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}

.showreel_button:hover{
    color: rgb(157, 253, 242);
    font-weight: bolder;
    cursor: pointer;
    opacity: 1;
    animation: socials_animate 1s infinite alternate;   
    transform: scale(1.2);
}


/* *******      Splash Screen intro */
.splash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    background-color: #000;
    color: #ffff;
    text-align: center;
    line-height: 100vh;
    
}


.splash.display-none
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 2s;
    z-index: -1;

}


.fade-in
{
    opacity: 0;
    filter: blur(5px);
    animation: fadeIn 1s ease-in forwards;
}


@keyframes fadeIn{
    to{
        opacity: 1;
        filter: blur(0px);
        

    }
}

.column_01{
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    background: none;
    float: left;
    width: 33.3%;
    padding: 0px;
    padding-left: 10px;
    height: 50vh;
}


.column_02{
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    background: none;
    float: left;
    width: 33.3%;
    padding: 10px;
    height: 50vh;
}

.column_03{
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    background: none;
    float: left;
    width: 33.3%;
    padding: 10px;
    padding-left: 50px;
    height: 50vh;
}



.row {
    display: inline;
    clear: both;
}




/* GLOW EFFECTS */

.container02{
    z-index: -100;
    position: absolute;
    bottom: 1500%;
    transform: translate();
    width: 100%;
    text-align: center;
    color: #ffff;
    font-family: sans-serif;
    font-size: 8em;
    margin: 0;
    padding: 0px, 0;
    text-transform: uppercase;
    opacity: 1;
    display: none;
}


.glow02 {
    position: relative;
    background-color : #020c1b;
    color : #64ffda;
    border-radius : 10px;
    margin-left: -100px;
  }
  

.glow02:before, .glow02:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(to right, #00f2f2, #0575E6, #00f2f2);
    background-size: 200%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius : 10px;
    border-radius: inherit;
    animation: steam02 10s infinite alternate;
}
  
  
@keyframes steam02 {
      0% {
          background-position: 0 0; 
      }
      50% {
          background-position: 400% 0;
      }
      100% {
          background-position: 0 0;
      }
  }
  
  .glow02:after {
      filter: blur(200px);
  }




/* GLOW EFFECTS */
  
#glow_effect{
    position: fixed;
    top: 102%;
    transform: translate();
    width: 100%;
    text-align: center;
    color: #ffff;
    font-family: sans-serif;
    font-size: 8em;
    margin: 0;
    padding: 0px, 0;
    text-transform: uppercase;
    opacity: 1;
}


.glow {
    position: relative;
    background-color : #020c1b;
    color : #64ffda;
    border-radius : 10px;
    margin-left: -100px;
  }

  
.glow:before, .glow:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(to right, #00f2f2, #0575E6, #00f2f2);
    background-size: 200%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius : 10px;
    border-radius: inherit;
    animation: steam 10s infinite alternate;
}
  

@keyframes steam {
    0% {
        background-position: 0 0; 
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
  }

  
  .glow:after {
      filter: blur(200px);
  }
  

.profile_pic{
    display: block;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    padding-right: 10px;
}


.socials{
    margin-left: -50px;
    display: flex;
    justify-content: space-evenly;    
}


.socials i{
    color: rgba(255, 255, 255, 0.5);
}


.socials i:hover{
    color: rgb(157, 253, 242);
    cursor: pointer;
    animation: socials_animate 1s infinite alternate;   
}


@keyframes socials_animate {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(-0.8turn);}
  }


.line_break{
    border: 1px solid rgb(255, 0, 204, 0.2);
    animation: animate 4s infinite alternate;
}


@keyframes animate {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(-0.35turn);}
  }


.list_a {
    text-align: left;
    margin-left: -20px;
    list-style-type: circle;
  }


.skills{
    width: 40%; 
    float:left; 
    padding-left: 0%; 
    margin-top: -5px;
}


.skills_list{
    text-align: left;
    margin-left: -22px;
    list-style-type: circle;
}


.skills_list li {
    font-size: 14px;
  }


.software{
    width: 40%; 
    float:left; 
    padding-left: 10%; 
    margin-top: -5px;
}








/* ###############################################  Tablet / Mobile */
@media (max-width: 850px){
    
    html,
    body {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 99.3%;
    }




.bg_video{
    margin-top: 40%;
    scale: 2.5;
}


.resume_text{
    display:inline-block;
    color: rgb(174, 255, 255);
}

.resume_text:hover{
    color: rgb(0, 255, 255);
    font-weight: bolder;
}

.column_01 {
    width: 100vw;
    color: rgb(192, 253, 253);
    padding: 0px;
    padding-top: 1vh;
    padding-left: 0px;
    height: 33.3%;
}
.column_02 {
    width: 100%;
    color: rgb(192, 253, 253);
    padding: 20px;
    height: 33.3%;

}
.column_03 {
    width: 100%;
    color: rgb(192, 253, 253);
    padding: 0px;
    padding-left: 0px;
    height: 33.3%;
}

.column_02 h1{
    margin-top: -2vh;
}

.column_01 p{
    width: 100%;
    color: rgb(255, 255, 255);
}
.column_02 p{
    width: 100%;
    color: rgb(255, 255, 255);
}
.column_03 p{
    width: 100%;
    color: rgb(255, 255, 255);
}


.glow:after {
    filter: blur(0px);
}
.container02{
    display:none;
}




.container{
    display: block;
}

.glow02:after {
    filter: blur(0px);
}





.list_a li{
    margin-left: -8px;
    font-size: 11px; 
  }

.skills_list li{
    font-size: 11px; 
    width: 100%;
    margin-left: -5px;
}

.profile_pic{
    height: 0%;
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;

}

.skills{
    width: 50%; 
    float:left; 
    padding-left: 4%;
    margin-top: -5px;
}

.software{
    width: 50%; 
    float:left; 
    padding-left: 4%;
    margin-top: -5px;
    height: 400px;
}

}





/* ###############################################  Large Mobile / Tablet */
@media (max-width: 850px) and (min-width: 580px) {

.bg_video{
    margin-top: 100px;
    scale: 1.5;
}

.profile_pic{
    display: block;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    padding-right: 10px;
}


.logo_icons{
    padding: 0px 0px;
}


.socials{
    margin-left: -50px;
    display: flex;
    justify-content: space-evenly;    
}


.skills{
    width: 30%; 
    float:left; 
    padding-left: 20px;
    margin-top: -5px;
    left: 0px;
}

.software{
    width: 50%; 
    float:left; 
    padding-left: 4%;
    margin-top: -5px;
    height: 400px;
}

}



/* ###############################################  Normal Monitor */
@media (max-width: 1418px) and (min-width: 851px) {



.column_01{
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    background: none;
    float: left;
    width: 28%;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 50vh;
}

    
.column_02{
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 11px;
    background: none;
    float: left;
    width: 38%;
    padding: 10px;
    padding-left: 0px;
    height: 50vh;
}

.column_03{
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 11px;
    background: none;
    float: left;
    width: 33.3%;
    padding: 10px;
    padding-left: 15px;
    height: 50vh;
}



.row {
    display: inline;
    clear: both;
}


    
.profile_pic{
    display: block;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    padding-right: 10px;
}


.logo_icons{
    padding: 0px 0px;
}


.socials{
    margin-left: -50px;
    display: flex;
    justify-content: space-evenly;    
}


.list_a li{
    margin-left: -8px;
    font-size: 11px; 
  }

.skills_list li{
    font-size: 11px; 
    width: 100%;
    margin-left: -5px;
}



.skills{
    width: 50%; 
    float:left; 
    padding-left: 4%;
    margin-top: -5px;
}

.software{
    width: 50%; 
    float:left; 
    padding-left: 4%;
    margin-top: -5px;
    height: 400px;
}




}