/* line 2, dev/static/scss/tilt_shift.scss */
.pewdev {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; }
  /* line 10, dev/static/scss/tilt_shift.scss */
  .pewdev::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2c2c2c;
    -webkit-mask-image: linear-gradient(0deg, black 0%, black 20%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 55%, black 80%, black 100%); }
  /* line 31, dev/static/scss/tilt_shift.scss */
  .pewdev #test_container {
    width: inherit;
    height: inherit; }
