/* line 2, dev/static/scss/tilt_shift.scss */
.pewdev {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh; }
  /* line 10, dev/static/scss/tilt_shift.scss */
  .pewdev::after {
    content: '';
    position: absolute;
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(0deg, black 0%, black 10%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, black 60%, black 100%); }
