{% extends "base.html" %}
{% load static %}
{% block title %}LouisRossouw - Portfolio {% endblock %}

{% block page_content %}

<div class="portfolio_title">
    <hr1>PORTFOLIO</hr1>
</div>

<div class="portfolio_row">
{% for port in portfolio %}
    {% if port.tag == "film" %}

        <div class="port_film_tag">
            <div class="port_row">
                <img class="port_img" src="{{port.image_main.url}}">
                <div class="port_body">
                    <h5 class="port_title">{{ port.title }}</h5>
                    
                    <p class="port_text">{{ port.role }}</p>                
                    <a href="{% url 'portfolio_detail' port.pk %}" class="port_readMore">Read More</a>
                </div>
            </div>
        </div>

    {% endif %}
{% endfor %}



<div class="portfolio_row">
    {% for port in portfolio %}
        {% if port.tag == "cinematic" or port.tag == "ad" %}
    
            <div class="port_film_tag">
                <div class="port_row">
                    <img class="port_img" src="{{port.image_main.url}}">
                    <div class="port_body">
                        <h5 class="port_title">{{ port.title }}</h5>
                        
                        <p class="port_text">{{ port.role }}</p>                
                        <a href="{% url 'portfolio_detail' port.pk %}" class="port_readMore">Read More</a>
                    </div>
                </div>
            </div>
    
        {% endif %}
    {% endfor %}

<h1 class="extra_bottom_ignore" style="color: rgba(255, 255, 255, 0); padding-bottom: 200px;"></h1>
{% endblock %}