{% extends "base.html" %}
{% load static %}

{% block page_content %}

    <!-- <div class="portfolio_detail_column">
        <img src="{% static portfolio.image %}" alt="" width="100%">
    </div> -->

    <div class="portfolio_detail_column">
        <iframe class="portfolio_trailer" src={{ portfolio.youtube_embed }}></iframe>
    </div>

    
    <div class="{{ column_width.column_1 }}">
        <h1 class="portfolio_detail_title">{{ portfolio.title }}</h1>
        <h5>About the project:</h5>
        <p>{{ portfolio.additional_description }}</p>
        <br>
        <h5>Role:</h5>
        <p>{{ portfolio.description }}</p>
        <br>
        <h5>Software used:</h5>
        <p>{{ portfolio.technology }}</p>
        <br>
        <h5>Produced at:</h5>
        <p>{{ portfolio.produced_at }}</p>
    </div>


    <!-- MYSHOTS SHOWCASE -->
        <div class="{{ column_width.column_2 }}">
            <!-- <p>Additional images / videos will populate this column.</p> -->


            {% if additional_images.myshots != False %}

                <h1>My Shots:</h1>
                {% for imgs in additional_images.myshots %}

                    <img src="{% static imgs %}">

            {% endfor %}
            {% endif %}

        </div>


    <!-- RAW SHOWCASE -->
    <div class="{{ column_width.column_3 }}">
        <!-- <p>Additional images / videos will populate this column.</p> -->


        {% if additional_images.raw != False %}

            <h1>Clips:</h1>
            {% for imgs in additional_images.raw %}

                <video src="{% static imgs %}" controls></video>

        {% endfor %}
        {% endif %}

    </div>



    <!-- RAW BREAKDOWN -->
    <div class="{{ column_width.column_4 }}">
        <!-- <p>Additional images / videos will populate this column.</p> -->


        {% if additional_images.breakdown != False %}

            <h1>Extra:</h1>
            {% for imgs in additional_images.breakdown %}

                <video src="{% static imgs %}" controls></video>

        {% endfor %}
        {% endif %}

    </div>


</div>




{% endblock %}

