{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'js_css/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js_css/css/nav_style.css' %}">

    <title>{% block title %}Louis Rossouw {% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'images/icons/flav_logo.png' %}"> </link>


    <nav class="topnav" style="z-index: 10;">

      <ul>
        <a class="logo_main" href="{% url 'home' %}">Louis Rossouw</a>
        <div class="menu">
          <a href="{% url 'home' %}">ABOUT</a>
          <a href="{% url 'project_index' %}">PORTFOLIO</a>
          <a href="{% url 'project_index' %}">EXPERIENCE</a>
          <a href="{% url 'project_index' %}">BLOG</a>
          <a href="{% url 'project_index' %}">DEV</a>
          <a href="{% url 'project_index' %}">CONTACT</a>
        </div>
      </ul>

    </nav>


    </head>






  <body style="background-color: rgb(4, 4, 4)">
    {% block page_content %}{% endblock %}


    <script src="{% static 'js_css/js/home.js' %}"></script>
  </body>
</html>



