@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

html{
    -webkit-tap-highlight-color: transparent;
}


li, a, button{
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    font-size: 15px;
    color: white;
    text-decoration: none;
}


.navbar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    background-image: grad;
    padding:  0% 10vw;
    width: 100vw;
}


.logo{
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 20px;
    margin-top: -6PX;
}


@keyframes logo_animate {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(-0.8turn);}
  }


.nav_links{
    list-style: none;
    margin-left: -100px;
}


.nav_links li{
    display: inline-block;
    padding:  0% 15px;
}


.nav_links li a{
    background-image: linear-gradient(rgb(85, 255, 221, 1) ,rgb(85, 255, 221, 1));
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}


.nav_links li a:hover{
    color: rgb(255, 42, 127, 1);
    text-decoration: none;
    font-weight: bold;
    background-size: 100% 1px, auto;
}


#resume_btn{
    padding: 0% 20px;
    background-color: rgba(0,136,169,0);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    z-index: 2;
    animation: glowza 1s infinite alternate;
}


#resume_btn:hover{
    background-color:rgb(255, 42, 127, 1);   
}


.hamburger{
    display: none;
    cursor: pointer;
}


.bar{
    display: block;
    width: 25px;
    height: 1px;
    margin: 6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgba(192, 192, 192);
}


@keyframes logo_animate {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(-0.8turn);}
  }


@keyframes glowza {
  from {
      box-shadow: 0 0 1px #00f2f2, 0 0 2px #6a00ff, 0 0 3px #00f2f2, 0 0 4px #ffff00, 0 0 5px #00f2f2, 0 0 6px #00f2f2, 0 0 7px #00f2f2;
  }

  to {
      box-shadow: 0 0 1px #00f2f2, 
      0 0 2px #00f2f2,
      0 0 5px #88a723,
      0 0 10px #b300ff;
  }
}



/* ###############################################  Normal Monitor */
@media (max-width: 1418px) and (min-width: 1000px) {

.hamburger{
    display: none;
    z-index: 15;
    position: fixed;
    right: 0;
    padding-right: 10px;
    padding-top: 10px;
    font-size:small;
    padding-top: 50%;
    padding-bottom: 50%;
}


.hamburger.active .bar:nth-child(2){
    opacity: 0;
}


.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}


.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


.nav_links li{
    display: inline-block;
    padding:  0% 7px;
}


.logo{
    font-size: 16px;
}


li, a, button{
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    font-size: 14px;
    color: white;
    text-decoration: none;
}


.navbar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    background-image: grad;
    padding:  0% 7vw;
    width: 100vw;
}
}



/* ###############################################  Half Laptop screen */
@media (max-width: 1000px) and (min-width: 850px){

#nav_dailies{
    display: none;
}


.hamburger{
    display:inline-block;
    z-index: 15;
    position: fixed;
    right: 0;
    padding-right: 40px;
    padding-top: 10px;
    font-size:small;
    padding-top: 50%;
    padding-bottom: 50%;
}


.hamburger.active .bar:nth-child(2){
    opacity: 0;
}


.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}


.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


.nav_links{
    position: fixed;
    z-index: 10;
    right: 0;
    top: -300px;
    gap: 50;
    flex-direction:column;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    backdrop-filter: blur(6px);
    filter: grayscale(70%);
    width: 100%;
    text-align: center;
    padding:  0px 0px;
    margin-left: 0px;
    transition: 0.1s;
}


.nav_links li{
    margin: 16px 0;
    display: block;
    padding:  0% 0px;
    margin-top: 10px;
}


.nav_links li a{
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-weight:900;
}


.nav_links.active{
    right: 0;
    padding:  0px 0px;
    margin-left: 0px;
    top: -15px;
}


.navbar_header{
    z-index: 100;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0), rgb(0, 0, 0));
    padding:  2.5% 200px;
    margin-top: -10px;
    width: 100vw;
}


.logo{
    position: fixed;
    left: 20px;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 10px;
    font-size:small;
    font-weight:bold;
}


.cta{
    display:none;
}    
}



/* ###############################################  LARGE MOBILE / TABLET */
@media (max-width: 850px) and (min-width: 580px) {

#nav_dailies{
    display: none;
}

.navbar_header{
    z-index: 100;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(to top,rgb(0, 0, 0), rgb(0, 0, 0));
    padding:  3% 200px;
    margin-top: -10px;
    width: 100vw;
}


.hamburger{
    display:inline-block;
    z-index: 15;
    position: fixed;
    right: 0;
    padding-right: 20px;
    font-size:small;
    padding-top: 50%;
    padding-bottom: 50%;
}


.hamburger.active .bar:nth-child(2){
    opacity: 0;
}



.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}


.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


.nav_links{
    position: fixed;
    z-index: 10;
    right: 0;
    top: -300px;
    gap: 50;
    flex-direction:column;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    backdrop-filter: blur(6px);
    filter: grayscale(70%);
    width: 100%;
    text-align: center;
    padding:  0px 0px;
    margin-left: 0px;
    transition: 0.1s;
}


.nav_links li{
    margin: 16px 0;
    display: block;
    padding:  0% 0px;
    margin-top: 20px;
}


.nav_links li a{
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-weight:900;
}


.nav_links.active{
    right: 0;
    padding:  0px 0px;
    margin-left: 0px;
    top: -10px;
}


.logo{
    position: fixed;
    left: 0px;
    padding-top: 51%;
    padding-bottom: 50%;
    padding-left: 10px;
    font-size:small;
    font-weight:bold;
}


.cta{
    display:none;
}
}
    



/* ###############################################  MOBILE */
@media (max-width: 580px) {

#nav_dailies{
    display: none;
}

.hamburger{
    display:inline-block;
    z-index: 15;
    position: fixed;
    right: 0;
    padding-right: 25px;
    padding-top: 5px;
    font-size:small;
    padding-bottom: 0px;
}


.hamburger.active .bar:nth-child(2){
    opacity: 0;
}


.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}


.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


.nav_links{
    position: fixed;
    z-index: 10;
    right: 0;
    top: -300px;
    gap: 50;
    flex-direction:column;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    backdrop-filter: blur(6px);
    filter: grayscale(70%);
    width: 100%;
    text-align: center;
    padding:  0px 0px;
    margin-left: 0px;
    transition: 0.1s;
}


.nav_links li{
    margin: 16px 0;
    display: block;
    padding:  0% 0px;
    margin-top: 20px;
}


.nav_links li a{
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-weight:900;
}


.nav_links.active{
    right: 0;
    padding:  0px 0px;
    margin-left: 0px;
    top: -10px;
}


.navbar_header{
    z-index: 100;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(to top,rgb(0, 0, 0), rgb(0, 0, 0));
    padding:  20px 100px;
    margin-top: -10px;
    width: 100vw;
    float: left;
    margin-left: -10px;


}


.logo{
    position: fixed;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 6px;
    font-size:small;
    font-weight:bold;
}


.cta{
    display:none;
}
}
