
html{
    overflow-y: scroll;
    padding-bottom: 500px;
}


.contact_title_01{
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding-bottom: 10px;
}

.contact_title_02{
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding-bottom: 10px;
}


.logo_icons{
    scale: 0.8;
}

.contact_div{
    position: absolute;
    padding:0;
    margin:0;
    z-index: -5;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}


.contact_center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-top: 0px;
    width: 50%;
    height: 50%;
  }


  .profile_pic_02{
    height: 0%;
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
}



label{
    color: white;
    font-family: 'Source Code Pro', monospace;
}

ul.errorlist{
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}

.errorlist li{
    border: 1px solid red;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 128, 128, 0.918);
    list-style-position: inside;
    display: block;
    font-size: 14px;
    font-weight: bolder;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;
    border-radius: 3px;
}

input, textarea{
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(25, 25, 25, 0.5);
    color: rgb(173, 255, 244);
    width: 100%;
    padding: 6px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(119, 119, 119);
}

input:hover{
    color: rgb(255, 255, 255);

    transition: 1.5s;
    animation-name:glowza;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}


@keyframes glowza{
    from{box-shadow:0px 0px 2px #fff,0px 0px 2px rgba(124, 255, 238);}
    to{box-shadow:0px 0px 4px #fff,0px 0px 5px rgba(124, 255, 238);}
  }

.success {
    font-family: 'Source Code Pro', monospace;
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border: 1px solid green;
    border-radius: 3px;
}





.g-recaptcha > div {
    margin: auto;
    filter: invert(1) hue-rotate(180deg);
    float:left;
    }



label[for=id_captcha]{
    display: none;
}

#recaptcha_area, #recaptcha_table { 
    line-height: 0 !important;
    float: left !important;
}





@media (max-width: 850px) {


html{
    overflow-y: scroll;
}


.g-recaptcha > div {
    margin: auto;
    filter: invert(1) hue-rotate(180deg);
    }

label[for=id_captcha]{
    display: none;
}




.contact_title_02{
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}


.profile_pic_02{
    height: 0%;
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
}

.contact_div{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 50%;
    overflow: visible;
}



.contact_center {
    /* scale: 0.9; */
    width: 100vw;
    height: 90%;
    margin: 0;


    position: absolute;
    margin-left: 0%;
    margin-top: 0%;
    }

textarea{
    height: 100px;
}
}

