



<div id="ZL_ui_stats_row">

  <div id="ZL_ui_points_row">

    <div id="ZL_ui_points_col_01">
      <h1 id="zombieland_rank">/</h1>
      <i class="fa-solid fa-flag-checkered"></i>
    </div>

    <div id="ZL_ui_points_col_02">
      <h1 id="zombieland_point">0</h1>
      <i class="fa-regular fa-star"></i>
    </div>

    <div id="ZL_ui_points_col_03">
      <h1 id="zombieland_zombie_deaths">0</h1>
      <i class="fa-solid fa-skull"></i>
    </div>

    <div id="ZL_ui_points_col_04">
      <h1 id="zombieland_time_elapsed">0</h1>
      <i class="fa-regular fa-clock"></i>
    </div>

  </div>

</div>