/* LEADERBOARD */

#ZL_leaderBoard_ui{
    display: none;
    z-index: 25;
    position: fixed;
    margin: auto;
    width: 100%;
    height: 90vh;
    top: 50px;
}
  

#ZL_leaderBoard_container{
    z-index: 25;
    margin: auto;
    width: 800px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    padding-bottom: 100px;
}
  

#ZL_table_container{
    z-index: 25;
    position: relative;
    margin: auto;
    font-size: 15px;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow-y: scroll;
}


/* fix scroll bar */
#ZL_table_container::-webkit-scrollbar {
    width: 5px;
}
#ZL_table_container::-webkit-scrollbar-track {
    background-color: transparent; /* Set the background color to transparent */
}
#ZL_table_container::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
}
#ZL_table_container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0);
} 
  
  
#ZL_table_container table {
    margin: auto;
    border-collapse: collapse;
    width: 95%;  
}
  

#ZL_table_container th {
    color: rgb(205, 253, 255);
    text-align: left;
    font-size: 13px;
    border-bottom: 1px solid rgb(50, 50, 50);
    background-color: rgb(15, 15, 15);
    padding: 5px;
    font-weight:lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 

#ZL_table_container td {
    height: 40px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid rgb(50, 50, 50);
    padding: 5px;
    font-weight:lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  

#ZL_table_container tr:hover{
    cursor: pointer;
    background-color: rgba(40, 40, 40, 0.4);
}
  

#ZL_table_container tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.4);
}
  

#ZL_table_container tr:nth-child(even):hover{
    background-color: rgb(40, 40, 40);
}
  

#ZL_leaderboard_buttons{
    z-index: 50;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: auto;
}
  

#ZL_leaderboard_buttons_container{
    width: 800px;
    margin: auto;
    margin-top: -100px;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}
  

#ZL_leaderboard_buttons_container button{
    margin: auto;
    width: 700px;
    height: 50px;
    color: white;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 25px;
    font-size: 15px;
    left:0;
    right:0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0);
    font-weight:lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  

#ZL_leaderboard_buttons_container button:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
} 
  


/* ###############################################  Tablet / Mobile */
@media (max-width: 850px){

#ZL_leaderBoard_ui{
    display: none;
    z-index: 25;
    position: fixed;
    margin: auto;
    width: 100%;
    /* margin-top: 35px; */
    height: 90vh;
    top: 50px;
}
    

#ZL_leaderBoard_container{
    z-index: 25;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    padding-bottom: 100px;
}
   

#ZL_table_container{
    z-index: 25;
    position: relative;
    margin: auto;
    font-size: 15px;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow-y: scroll;
}


#ZL_leaderboard_buttons{
    width: 100%;
}
  

#ZL_leaderboard_buttons_container{
    width: 100%;
}
  

#ZL_leaderboard_buttons_container button{
    width: 80%;
}

}
    
    
/* ###############################################  Large Mobile / Tablet */
@media (max-width: 850px) and (min-width: 580px) {

}


    
/* ###############################################  Normal Monitor */
@media (max-width: 1418px) and (min-width: 851px) {

#ZL_leaderBoard_ui{
    display: none;
    z-index: 25;
    position: fixed;
    margin: auto;
    width: 100%;
    margin-top: 35px;
    height: 90vh;
    top: 10px;
}
    

#ZL_leaderBoard_container{
    z-index: 25;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    padding-bottom: 100px;
}


#ZL_table_container{
    z-index: 25;
    position: relative;
    margin: auto;
    font-size: 15px;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow-y: scroll;
}


#ZL_leaderboard_buttons{
    width: 100%;
}
    

#ZL_leaderboard_buttons_container{
    width: 100%;
}
    

#ZL_leaderboard_buttons_container button{
    width: 80%;
}

}

