@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');


li, a, button{
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    font-size: 15px;
    color: white;
    text-decoration: none;
}



.navbar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0)) !important ;
    background-image: grad;
    padding:  0% 200px;
}

.logo{
    cursor: pointer;
    font-size: 20px;
}

.nav_links{
    list-style: none;
    margin-left: -100px;
}

.nav_links li{
    display: inline-block;
    padding:  0% 20px;
}

.nav_links li a{
    /* Bottom line */
    background-image: linear-gradient(rgb(0, 255, 251, 0.5) ,rgb(0, 255, 251, 0.5));
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}


.nav_links li a:hover{
    color: rgb(255, 0, 204, 1);
    text-decoration: none;
    font-weight: bold;
    background-size: 100% 1px, auto;
}



button{
    padding: 0% 20px;
    background-color: rgba(0,136,169,0);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    z-index: 2;
    animation: glowza 1s infinite alternate;

}

button:hover{
    background-color:rgb(255, 0, 204, 1);   
}




@keyframes glowza {
  from {
      box-shadow: 0 0 1px #00f2f2, 0 0 2px #6a00ff, 0 0 3px #00f2f2, 0 0 4px #ffff00, 0 0 5px #00f2f2, 0 0 6px #00f2f2, 0 0 7px #00f2f2;
  }

  to {
      box-shadow: 0 0 1px #00f2f2, 
      0 0 2px #00f2f2,
      0 0 5px #88a723,
      0 0 10px #b300ff;
  }
}


