@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');


/* *******      Splash Screen intro */
.splash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #000;
    color: #ffff;
    text-align: center;
    line-height: 100vh;
    
}

.splash.display-none
{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 2s;
    z-index: -1;

}


.fade-in
{
    opacity: 0;
    filter: blur(5px);
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
        filter: blur(0px);
        

    }
}







* {
box-sizing: border-box;
}


/* .header {
    padding: 0px;
    text-align: center;
    font-size: 35px;
    
} */


.column {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    background: none;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 50vh;
    /* border: 1px solid green; */
}


.row:after {
    display: table;
    clear: both;
}
  





/* GLOW EFFECTS */

  
.container{
    position: absolute;
    top: 105%;
    transform: translate();
    width: 100%;
    text-align: center;
    color: #ffff;
    font-family: sans-serif;
    font-size: 8em;
    margin: 0;
    padding: 0px, 0;
    text-transform: uppercase;
    opacity: 1;

}

.glow {
    position: relative;
    background-color : #020c1b;
    color : #64ffda;
    border-radius : 10px;
    margin-left: -100px;
  }
  
.glow:before, .glow:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(to right, #00f2f2, #0575E6, #00f2f2);
    background-size: 200%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius : 10px;
    border-radius: inherit;
    animation: steam 10s infinite alternate;
  }
  
  
  @keyframes steam {
      0% {
          background-position: 0 0; 
      }
      50% {
          background-position: 400% 0;
      }
      100% {
          background-position: 0 0;
      }
  }
  
  .glow:after {
      filter: blur(200px);
  }
  


.profile_pic{
    display: block;
    padding-top: 10vh;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
}


  
.socials{
    margin-left: -50px;
    display: flex;
    justify-content: space-evenly;
    
}

.socials i{
    color: rgba(255, 255, 255, 0.5);
}

.socials i:hover{
    color: rgb(157, 253, 242);
    cursor: pointer;
    animation: socials_animate 1s infinite alternate;
    
}
@keyframes socials_animate {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(-0.8turn);}
  }


.line_break{
    border: 1px solid rgb(255, 0, 204, 0.2);
    animation: animate 4s infinite alternate;
}


@keyframes animate {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(-0.35turn);}
  }

.list_a {
    text-align: left;
    margin-left: -20px;
    list-style-type: circle;
  }

.skills_list{
    text-align: left;
    margin-left: -20px;
    list-style-type: circle;
}

.skills_list li {
    font-size: 14px;
  }












@media (max-width: 600px) {
.column {
    width: 100%;
}
.glow:after {
    filter: blur(100px);
}
.column{
    height: auto;
    overflow:scroll;
    
}

.profile_pic{
    padding-top: 1vh;
    padding-bottom: auto;
}

}